*   {
    box-sizing: border-box;
}

body    {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: bisque;
}

a{
    text-decoration: none;
    color:darksalmon
   
}

header{ 
    display: flex;
    min-height: 50px;
    background-color:purple;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 0 15px;
    flex-direction: column;
}

.logo   { 
    display: flex;
    align-items: center;

}
.logo img   {
    height: 60px; 
    width: auto;
    padding-left: 60px;
    align-items: center;  
}

nav a{
    font-weight: 600;
    padding-right: 10px;
   
}

nav a:hover {
color:rgb(44, 240, 230)
}

#container  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; 
    
}

.imagen-principal   {
    
    background-repeat: no-repeat;
    background-position: center ;
    width: 350px;      
    border-color:rgb(144, 228, 35);
    border-style: solid;
    border-radius: 10%;   
    display: flex;
    flex-direction: center;
    align-items: center;
}

h1  {
    font-size: 2.5em;
    font-family:cursive;
    color: darkviolet; 
    padding: 0px 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; 
    }

.introduccion   {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: center;
    padding: 3px 1em 0 1em;
    justify-content: center;
    text-align: justify;
    font-size: 1.25em;
}

h2 {
    text-decoration: none;
    color: darkred;
    display: flex;
    flex-direction: column;
    padding: 2px 0.5em 0 1em;
    text-align: justify;
}

h3  {
    text-decoration: none;
    color:blue;
    display: flex;
    flex-direction: column;
    padding: 0px 3em 0 1.5em;
}

.objetivos1 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 3px 2em 0 2em;    
    text-align: justify;
    font-size: 1.10em;
    text-align: justify;
}

.aliados1   {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 3px 2em 0 2em;    
    text-align: justify;
    font-size: 1.10em;
    text-align: justify;
}

.aliados2   {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 3px 2em 0 2em;    
    text-align: justify;
    font-size: 1.10em;
    text-align: justify;
            }

.actividades1   {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 3px 1.75em 0 2em;    
    text-align: justify;
    font-size: 1.10em;
    text-align: justify;  
}

.actividades2   {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: center;
    padding: 0px 2.5em 10px 2em;
    text-align: justify;
    font-size: 1.10em;
    text-align: justify;
}

.cursos2    {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: center;
    padding: 0px 2.5em 10px 2em;
    text-align: justify;
    font-size: 1.10em;
    text-align: justify;
}

.texto1 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: center;
    padding: 0px 2.5em 70px 2em;
    text-align: justify;
    font-size: 1.10em;
    text-align: justify;
}
.texto {
padding: 0 2.5em;
}

@media (min-width: 900px)   {
    *   {
        box-sizing: border-box;
    }
    
    
    
    body    {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
    }
    
    a{
        text-decoration: none;
        color:darksalmon
    }
    
    header{ 
        display: flex;
        min-height: 50px;
        background-color:purple;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 0 10px;
        flex-direction: row;
        position: fixed;
        width: 100%;
    }
    
    .logo   { 
        display: flex;
        align-items: center;
    }
    .logo img   {
        height: 80px; 
        margin-right: 10px;
        margin: 0;
    }
    
    header nav a{
        font-weight: 600;
        padding-right: 10px;
    }
    
    nav a:hover {
    color:rgb(44, 240, 230)
    }

     img .imagen-principal   {
    
        background-repeat: no-repeat;
        background-position: center ;
        width: 250px;
        height: 200px;  
        border-width: 5px;
        border-color:rgb(144, 228, 35);
        border-style: solid;
        border-radius: 10%;
        padding: 10px 0 1em 1em; 
        display: flex;
        align-items: center;
         }

    h1  {
        font-size: 3em;
        font-family:cursive;
        color: darkviolet;
        padding: 50px 1em 0 1em;
       
        }
    
    .introduccion   {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: center;
        padding: 0px 3em 0 2em;
        justify-content: center;
        
    }
    
    h2 {
        text-decoration: none;
        color: darkred;
        display: flex;
        flex-direction: column;
        padding: 3px 1em 0 2em;
    }
    
    h3  {
        text-decoration: none;
        color:blue;
        display: flex;
        flex-direction: column;
        padding: 3px 3em 0 4em;
    }
    
    .objetivos1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: center;
        padding: 0px 4em 0 3em;    
    }
    
    .aliados1   {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: center;
        padding: 0px 4em 0 3em;
    }
    
    .aliados2   {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: center;
        padding: 0px 6em 0 5em;
    }
    
    .actividades1   {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: center;
        padding: 0px 4em 0 3em;   
    }
    
    .actividades2  {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: center;
        padding: 0px 4.5em 0 4em;
    }
    
    .cursos2    {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: center;
        padding: 0px 6em 0 4em;
}

    #actividades .container {
        display: flex;
        text-align: initial;
        flex-direction: column;
        justify-content: center;  
        padding: 0px 6em 0 5em;   
        width: 850px;  
        width: 50%;

    }

    #actividades .texto {
        width: 1000px;
        max-width: 1000px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 190px; 
    }

    #actividades .img-container  {
        background-image: url(teatro-img.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 30px;
        height: 120px;
        width: 150px;
        padding: 0px 8em ;
        width: 25%;
    }

    #actividades2 .container    {
        display: flex;
        text-align: initial;
        flex-direction: column;
        justify-content: center;  
        padding: 0px 3em 0 3em;   
        width: 850px;  
        width: 50%;
    }

    #actividades2 .imagen-container {
        background-image: url(costura.gif);
        background-repeat: no-repeat;   
        background-position-x: 40px;     
        padding: 0 200px 120px 2em;
        height: 80px;
        width: 50px;    
        
    }

    #actividades2 .texto1 {
        width: 1000px;
        max-width: 1000px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 170px; 
       
}

    #parte1 {
        display: flex;
        text-align: center;
        flex-direction: center;
        justify-content: center;    
    }

    
    
}